# Ignore compressed files
*.zip

# Ignore powerpoints
*.pptx

# Ignore image files
*.png
*.jpg
*.jpeg
*.webp
*.fig
*.svg
*.pgf

# Ignore audio files
*.wav

# Ignore COMSOL files
*.mph
*.lock

# Ignore hdf5 files
*.hdf5
*.h5 

# Ignore pikkle file
*.pk

# Ignore python related files
*.pyc
**/__pycache__/

# Ignore VSCode related files
**/.vscode/

# Ignore VIM related files
*.swp

# Ignore MATLAB related files
*.asv

# Ignore batch files
*.bat

# Ignore python related files 
*.pyc
*.ipynb

# Ignore specific folders 
**/.pytest_cache/
**/outputs/
**/multirun/
**/tensorboards/
**/comsol/
**/notebooks/
**/data/

# Ignore todo list
**/todo.txt